[submodule "MangoRHI"]
	path = MangoRHI
	url = https://github.com/HeaoYe/MangoRHI
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "thirdparty/stb/stb"]
	path = thirdparty/stb/stb
	url = https://github.com/nothings/stb
[submodule "thirdparty/imgui/imgui"]
	path = thirdparty/imgui/imgui
	url = https://github.com/ocornut/imgui
