[submodule "MangoRHI"]
	path = MangoRHI
	url = https://github.com/HeaoYe/MangoRHI
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "thirdparty/stb/stb"]
	path = thirdparty/stb/stb
	url = https://github.com/nothings/stb
[submodule "thirdparty/imgui/imgui"]
	path = thirdparty/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/glm/glm"]
	path = thirdparty/glm/glm
	url = https://github.com/g-truc/glm
